global-include tests/*
global-include *.h
global-include *.hpp
global-include *.cpp
global-include *.c
global-include *.sh
global-include *.txt
global-include *.xml
global-include README
global-include LICENSE
include ax/utils/token_bucket.lua
include ax/utils/token_bucket_function.lua
